@model IEnumerable<ModelEntities.ModelViews.QuizzViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuizzID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateFirstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateLastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechnoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DifficultyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbQuestions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuizzID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateFirstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateLastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DifficultyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbQuestions)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.QuizzID }) |
            @Html.ActionLink("Details", "Details", new { id = item.QuizzID })
        </td>
    </tr>
    }

</table>