@model IEnumerable<ModelEntities.ModelViews.MasterDifficultyViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Difficultés du Quizz</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Wording)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wording)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MasterDifficultyID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MasterDifficultyID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MasterDifficultyID })
            </td>
        </tr>
    }

</table>
