@model ModelEntities.ModelViews.DifficultyViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MasterDifficulty</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DifficultyID)

        <div class="form-group">
            @Html.LabelFor(model => model.Wording, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wording, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Wording, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
          @Html.DropDownListFor(model => model.PercentID, (List<SelectListItem>)ViewBag.Percent, "Pourcentage")
          @Html.ValidationMessageFor(model => model.PercentID, "", new { @class = "text-danger" })
      </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
