@model ModelEntities.Entities.Percent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Percent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Beginner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beginner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intermediate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intermediate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expert)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PercentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
